{{ define "day" }}

{{ template "header" . }}

<!-- Middle -->

<div id="middle-section">

    <!-- Table 1 -->
    <div class="user-table-wrapper">
        <p>New Followers for {{ .username }} on {{ .date }}</p>
        <table id="follower-list" class="user-table">
            {{ template "user" .followers }}
        </table>
    </div>

    <!-- Table 2 -->
    <div class="user-table-wrapper">
        <p>Unfollowers for {{ .username }} on {{ .date }}</p>
        <table id="unfollower-list" class="user-table">
            {{ template "user" .unfollowers }}
        </table>
    </div>

</div>

<!-- End Middle -->


{{ template "footer" . }}

{{ end }}