{{ define "day" }}

{{ template "header" . }}

<!-- Middle -->

<div id="middle-section">

    <!-- Table 1 -->
    <div class="list-table-wrapper">
        <h3>{{ .state.NewFollowerCount }} New Followers on {{ .date }}</h3>
        <table class="list-table">
            {{ template "user" .followers }}
        </table>
    </div>

    <!-- Table 2 -->
    <div class="list-table-wrapper">
        <h3>{{ .state.UnfollowerCount }} Unfollowers on {{ .date }}</h3>
        <table class="list-table">
            {{ template "user" .unfollowers }}
        </table>
    </div>

</div>

<!-- End Middle -->


{{ template "footer" . }}

{{ end }}