{{ define "footer" }}
<!-- Footer -->
<div id="page-footer">
    <p>
        <a href="https://github.com/mchmarny/tweethingz/blob/master/README.md" target="_blank">tweethingz</a>
        {{ .version }}
    </p>
</div>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20309077-5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-20309077-5');
</script>


</body>

</html>
{{ end }}