{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>tweethingz</title>
    <meta charset="UTF-8">
    <meta name="description" content="tweethingz">
    <meta name="keywords" content="twitter, service, api">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="/static/css/app.css?version={{ .version }}" />
    <link rel="stylesheet" href="/static/css/chart.css?version={{ .version }}" />
    <script src="/static/js/lib.js?version={{ .version }}"></script>
    <script src="/static/js/chart.js?version={{ .version }}"></script>
    <script src="/static/js/app.js?version={{ .version }}"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Header -->
        <div id="page-header">
            <img src="/static/img/tweethingz-logo.png" title="tweethingz logo" />
            {{ if .user }}
            <div id="header-nav">
                <a href="https://twitter.com/{{ .user.Username }}" target="_blank">@{{ .user.Username }}</a>
                <br />
                <a href="/view/board">Followers</a> |
                <a href="/view/search">Search</a> |
                <a href="/auth/logout">Log out</a>
            </div>
            {{ if .user.Profile }}
            {{ with .user.Profile }}
            <img src="{{ .ProfileImage }}" id="header-pic" title="Profile image for {{ .Username }}" />
            {{ end }}
            {{ end }}
            {{ end }}
        </div>

        <!-- End Header -->
        {{end}}