{{ define "search" }}

{{ template "header" . }}

<!-- Middle -->

<div id="middle-section">

    <h3>Twitter Search Queries</h3>

    <div id="search-new">
        <a href="/view/search/0">New Search</a>
    </div>

    <!-- List -->
    {{ if .list }}
    <div id="search-list-section">
        <div class="list-table-wrapper">
            <table class="list-table">
                {{ range .list }}
                <tr>
                    <td class="search-criterion-name">
                        <b>{{ .Name }}</b><br />
                        Last executed on: {{ .FormatedExecutedOn }}
                    </td>
                    <td class="search-criterion-action">
                        <a href="/view/search/{{ .ID }}">Edit</a>
                        <a href="/view/tweet/{{ .ID }}">Run</a>
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
    {{ end }}
    <!-- End List -->


    <!-- Details -->
    {{ if .detail }}
    {{ with .detail }}
    <div id="search-new-section">

        <form method="post" action="/data/search">

            <table>

                <tr>
                    <th colspan="2">
                        Metadata
                    </th>
                </tr>

                <tr>
                    <td class="form-label">
                        Name:
                    </td>
                    <td class="form-field">
                        <input type="text" name="name" value="{{ .Name }}"></input>
                    </td>
                </tr>

                <tr>
                    <th colspan="2">
                        Search Query
                    </th>
                </tr>

                <tr>
                    <td class="form-label">
                        Query:
                    </td>
                    <td class="form-field">
                        <input type="text" name="value" value="{{ .Value }}"></input>
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        Language:
                    </td>
                    <td class="form-field">
                        <select name="lang" id="lang">
                            <option value="en" {{ if eq .Lang "en" }} selected="selected" {{ end }}>English
                                (default)
                            </option>
                            <option value="ar" {{ if eq .Lang "ar" }} selected="selected" {{ end }}>Arabic</option>
                            <option value="bn" {{ if eq .Lang "bn" }} selected="selected" {{ end }}>Bengali</option>
                            <option value="cs" {{ if eq .Lang "cs" }} selected="selected" {{ end }}>Czech</option>
                            <option value="da" {{ if eq .Lang "da" }} selected="selected" {{ end }}>Danish</option>
                            <option value="de" {{ if eq .Lang "de" }} selected="selected" {{ end }}>German</option>
                            <option value="el" {{ if eq .Lang "el" }} selected="selected" {{ end }}>Greek</option>
                            <option value="es" {{ if eq .Lang "es" }} selected="selected" {{ end }}>Spanish</option>
                            <option value="fa" {{ if eq .Lang "fa" }} selected="selected" {{ end }}>Persian</option>
                            <option value="fi" {{ if eq .Lang "fi" }} selected="selected" {{ end }}>Finnish</option>
                            <option value="fil" {{ if eq .Lang "fil" }} selected="selected" {{ end }}>Filipino
                            </option>
                            <option value="fr" {{ if eq .Lang "fr" }} selected="selected" {{ end }}>French</option>
                            <option value="he" {{ if eq .Lang "he" }} selected="selected" {{ end }}>Hebrew</option>
                            <option value="hi" {{ if eq .Lang "hi" }} selected="selected" {{ end }}>Hindi</option>
                            <option value="hu" {{ if eq .Lang "hu" }} selected="selected" {{ end }}>Hungarian
                            </option>
                            <option value="id" {{ if eq .Lang "id" }} selected="selected" {{ end }}>Indonesian
                            </option>
                            <option value="it" {{ if eq .Lang "it" }} selected="selected" {{ end }}>Italian</option>
                            <option value="ja" {{ if eq .Lang "ja" }} selected="selected" {{ end }}>Japanese
                            </option>
                            <option value="ko" {{ if eq .Lang "ko" }} selected="selected" {{ end }}>Korean</option>
                            <option value="msa" {{ if eq .Lang "msa" }} selected="selected" {{ end }}>Malay</option>
                            <option value="nl" {{ if eq .Lang "nl" }} selected="selected" {{ end }}>Dutch</option>
                            <option value="no" {{ if eq .Lang "no" }} selected="selected" {{ end }}>Norwegian
                            </option>
                            <option value="pl" {{ if eq .Lang "pl" }} selected="selected" {{ end }}>Polish</option>
                            <option value="pt" {{ if eq .Lang "pt" }} selected="selected" {{ end }}>Portuguese
                            </option>
                            <option value="ro" {{ if eq .Lang "ro" }} selected="selected" {{ end }}>Romanian
                            </option>
                            <option value="ru" {{ if eq .Lang "ru" }} selected="selected" {{ end }}>Russian</option>
                            <option value="sv" {{ if eq .Lang "sv" }} selected="selected" {{ end }}>Swedish</option>
                            <option value="th" {{ if eq .Lang "th" }} selected="selected" {{ end }}>Thai</option>
                            <option value="tr" {{ if eq .Lang "tr" }} selected="selected" {{ end }}>Turkish</option>
                            <option value="uk" {{ if eq .Lang "uk" }} selected="selected" {{ end }}>Ukrainian
                            </option>
                            <option value="ur" {{ if eq .Lang "ur" }} selected="selected" {{ end }}>Urdu</option>
                            <option value="vi" {{ if eq .Lang "vi" }} selected="selected" {{ end }}>Vietnamese
                            </option>
                            <option value="zh-cn" {{ if eq .Lang "zh-cn" }} selected="selected" {{ end }}>Chinese
                            </option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th colspan="2">
                        Search Result Filter
                    </th>
                </tr>

                <tr>
                    <td class="form-field" colspan="2">
                        <input type="checkbox" name="latest" value="true" {{ if .Latest }} checked="true" {{ end }} />
                        <label for="latest">Latest (otherwise favorites popular tweets)</label>
                    </td>
                </tr>
                <tr>
                    <td class="form-field" colspan="2">
                        <input type="checkbox" name="has_link" value="true" {{ if .HasLink }} checked="true"
                            {{ end }} />
                        <label for="has_link">Has links (skips tweets without)</label>
                    </td>
                </tr>

                <tr>
                    <td class="form-field" colspan="2">
                        <input type="checkbox" name="include_rt" value="true" {{ if .IncludeRT }} checked="true"
                            {{ end }} />
                        <label for="include_rt">Include re-tweets (otherwise RTs skipped)</label>
                    </td>
                </tr>

                <tr>
                    <th colspan="2">
                        Tweet Author Filter
                    </th>
                </tr>

                <tr>
                    <td class="form-label">
                        Followers:
                    </td>
                    <td class="form-field">
                        <label for="follower_count_min">Min
                            <input type="number" min="0" name="follower_count_min"
                                value="{{ .FollowerCountMin }}"></input>
                        </label>
                        <label for="follower_count_max">Max
                            <input type="number" min="0" name="follower_count_max"
                                value="{{ .FollowerCountMax }}"></input>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        Friends:
                    </td>
                    <td class="form-field">
                        <label for="friend_count_min">Min
                            <input type="number" min="0" name="friend_count_min" value="{{ .FriendCountMin }}"></input>
                        </label>
                        <label for="friend_count_max">Max
                            <input type="number" min="0" name="friend_count_max" value="{{ .FriendCountMax }}"></input>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        Follower ratio:
                    </td>
                    <td class="form-field">
                        <label for="follower_ratio_min">Min
                            <input type="number" step="any" min="0" name="follower_ratio_min"
                                value="{{ .FollowerRatioMin }}"></input>
                        </label>
                        <label for="follower_ratio_max">Max
                            <input type="number" step="any" min="0" name="follower_ratio_max"
                                value="{{ .FollowerRatioMax }}"></input>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        Posts:
                    </td>
                    <td class="form-field">
                        <label for="post_count_min">Min
                            <input type="number" min="0" name="post_count_min" value="{{ .PostCountMin }}"></input>
                        </label>
                        <label for="post_count_max">Max
                            <input type="number" min="0" name="post_count_max" value="{{ .PostCountMax }}"></input>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        Faves:
                    </td>
                    <td class="form-field">
                        <label for="fave_count_min">Min
                            <input type="number" min="0" name="fave_count_min" value="{{ .FaveCountMin }}"></input>
                        </label>
                        <label for="fave_count_max">Max
                            <input type="number" min="0" name="fave_count_max" value="{{ .FaveCountMax }}"></input>
                        </label>
                    </td>
                </tr>


                <tr>
                    <td class="form-action left">
                        {{ if .ID }}
                        <input type="button" value="Delete" data-id="{{ .ID }}" id="search-criteria-delete-button" />
                        {{ end }}
                    </td class="form-action left">
                    <td class="form-action right">
                        <input type="hidden" name="id" value="{{ .ID }}" />
                        <input type="button" value="Cancel" id="search-criteria-cancel-button" />
                        <input type="submit" value="Submit" />
                    </td>
                </tr>

            </table>

        </form>

    </div>
    {{ end }}
    {{ end }}
    <!-- End Details -->


</div>

<!-- End Middle -->


{{ template "footer" . }}

{{ end }}