{{ define "tweet" }}

{{ template "header" . }}

<!-- Middle -->

<div id="middle-section">

    {{with .criteria }}
    <div>
        <b>New Search results for
            <a href="/view/search/{{ .ID }}" target="_blank">{{ .Name }}</a>
            -
            <a href="/view/tweet/{{ .ID }}?view=latest">View latest</a>
        </b>
    </div>
    {{end}}

    <!-- Table 1 -->
    {{if .results}}
    <div class="list-table-wrapper">
        <table class="list-table">
            {{ range .results }}
            <tr>
                <td class="user-img">
                    <a href="https://twitter.com/{{ .Author.Username }}" target="_blank">
                        <img src="{{ .Author.ProfileImage }}" class="profile-image" />
                    </a>
                </td>
                <td>
                    <div class="tweet-text">
                        {{ .Text }}
                    </div>
                    {{ with .Author }}
                    By: <b><a href="https://twitter.com/{{ .Username }}" target="_blank" title="{{ .Name }} - {{ .Description }}
                        (f:{{ .FollowerCount }}/{{ .FollowingCount }}, p:{{ .PostCount }})">@{{ .Username }}</a></b>
                    {{ end }}
                    On: <b>{{ .FormatedCreatedAt }}</b>
                    Fave'd: <b>{{ .FavoriteCount }}</b>
                    Replies: <b>{{ .ReplyCount }}</b>
                    RT: <b>{{ .RetweetCount }}</b>
                </td>
                <td class="tweet-view-link">
                    <a href="https://twitter.com/{{ .Author.Username }}/status/{{ .ID }}" target="_blank">View</a>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
    {{end}}

</div>

<!-- End Middle -->


{{ template "footer" . }}

{{ end }}