{{ define "tweet" }}

{{ template "header" . }}

<!-- Middle -->

<div id="middle-section">

    {{with .criteria }}
    <div>
        <b>Search results for: </b>
        <a href="/view/search/{{ .ID }}" target="_blank">
            {{ .Name }}
        </a>
    </div>
    {{end}}

    <!-- Table 1 -->
    {{if .results}}
    <table id="tweet-list">
        {{ range .results }}
        <tr>
            <td>
                {{ with .Author }}
                <a href="https://twitter.com/{{ .Username }}" target="_blank">
                    <img src="{{ .ProfileImage }}" />
                </a>
                {{ end }}
            </td>
            <td>
                <div class="tweet-text">
                    {{ .Text }}
                </div>
                <b>By: </b><a href="https://twitter.com/{{ .Author.Username }}"
                    target="_blank">@{{ .Author.Username }}</a>
                <b>On: </b> {{ .FormatedCreatedAt }}
                <b>Fave'd: </b> {{ .FavoriteCount }}
                <b>Replies: </b> {{ .ReplyCount }}
                <b>RT: </b> {{ .RetweetCount }} |
                <a href="https://twitter.com/{{ .Author.Username }}/status/{{ .ID }}" target="_blank">View
                    on Twitter</a>
            </td>
        </tr>
        {{ end }}
    </table>
    {{end}}

    {{ if .next_key }}
    <div class="bottom-link">
        <a href="/view/tweet/{{ .criteria.ID }}?key={{ .next_key }}">
            More
        </a>
    </div>
    {{ end }}

</div>

<!-- End Middle -->


{{ template "footer" . }}

{{ end }}