{{ define "user" }}
{{ range . }}

<tr>
    <td class="user-img">
        <img src="{{ .ProfileImage }}" />
    </td>
    <td>
        <div>
            <a href="https://twitter.com/{{ .Username }}" target="_blank">
                <b>@{{ .Username }}</b>
            </a>
            - {{ .Name }}, {{ .Location }} ({{ .Description }})
        </div>

        <div>
            <b>Since:</b> {{ .UserSince }},
            <b>Following:</b> {{ .FollowingCount }},
            <b>Followers:</b> {{ .FollowerCount }}
            <b>Tweets:</b> {{ .PostCount }}
        </div>
    </td>

</tr>

{{ end }}
{{ end }}