{{ define "user" }}
{{ range . }}

<tr>
    <td class="user-img">
        <img src="{{ .ProfileImage }}" class="profile-image" />
    </td>

    <td class="user-name">
        <a href="https://twitter.com/{{ .Username }}" title="{{ .Description }} - User since: {{ .UserSince }}"
            target="_blank">@{{ .Username }}</a>
        <div>
            {{ .Name }}<br />
            {{ .Location }}
        </div>
    </td>

    <td class="user-data">
        You&nbsp;Follow
        <div>{{ if .IsFriend }}Yes{{ else }}No{{ end }}</div>
    </td>

    <td class="user-data">
        Friends
        <div>{{ .FriendCount }}</div>
    </td>

    <td class="user-data">
        Followers
        <div>{{ .FollowerCount }}</div>
    </td>

    <td class="user-data">
        Tweets
        <div>{{ .PostCount }}</div>
    </td>

    <td class="user-data">
        Listed
        <div>{{ .ListedCount }}</div>
    </td>

</tr>

{{ end }}
{{ end }}