{{ define "view" }}

{{ template "header" . }}


<div id="middle-section">

    <div class="data-tile" id="username">
        <b></b>
    </div>

    <div class="data-tile" id="follower-count">
        <div>Followers:</div>
        <b></b>
        <p></p>
    </div>

    <div class="chart-wrapper">
        <canvas class="chart-series" id="follower-count-series"></canvas>
    </div>


    <div class="chart-wrapper">
        <canvas class="chart-series" id="follower-event-series"></canvas>
    </div>



</div>

{{ template "footer" . }}

{{ end }}