{{ define "view" }}

{{ template "header" . }}

<!-- Numbers -->

<div id="numbers-section" class="after-load">
    <div class="number-item" id="follower-count">
        <div>Followers</div>
        <div class="data a"></div>
    </div>
    <div class="number-item" id="following-count">
        <div>You Follow</div>
        <div class="data b"></div>
    </div>
    <div class="number-item" id="follower-gained-count">
        <div>New Followers</div>
        <div class="data c"></div>
    </div>
    <div class="number-item" id="follower-lost-count">
        <div>Lost Followers</div>
        <div class="data d"></div>
    </div>
    <div class="number-item" id="listed-count">
        <div>Listed</div>
        <div class="data e"></div>
    </div>
</div>

<!-- End Numbers -->

<div id="meta-panel" class="after-load">
    Updated on: <b id="meta-updated-on"></b>
</div>

<!-- Middle -->

<div id="middle-section" class="after-load">

    <!-- Chart 1 -->
    <div class="chart-wrapper">
        <canvas class="chart-series" id="follower-count-series"></canvas>
    </div>

    <!-- Chart 2 -->
    <div class="chart-wrapper">
        <canvas class="chart-series" id="follower-event-series"></canvas>
    </div>

</div>

<div id="wait-panel" class="wait-load">Please wait, loading data...</div>

<!-- End Middle -->


{{ template "footer" . }}

{{ end }}