/*
	Cloud Run colors
	Light Blue: #4786F0

*/

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

html,
body {
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #444;
    color: #e4e4e4;
}

a {
  color: #77a8e3;
}

#wrapper {
	padding: 0;
	margin: 0;
	height: 100%;
	text-align: center;
	widows: 100%;
	text-align: center;
}

#page-header {
	padding: 10px 5px 15px 5px;
	margin: 0;
	background-color: #333;
}

#page-header b {
	color: #999;
	font-size: 2em;
}

#page-footer {
	margin: 20px 0;
}


#numbers-section {
	padding: 20px 0 0 0;
	display: grid;
	grid-template-columns: repeat(5, 180px);
	grid-template-rows: auto;
	grid-gap: 10px;
	align-content: space-around;
	justify-content: space-between;
	margin: auto;
  	width: 80%;
}

#numbers-section .number-item {
	background-color: rgb(109, 110, 110);
	color: rgb(27, 27, 27);
  	border-radius: 3px;
  	padding: 20px;
	font-size: 1em;
	font-weight: bold;
	align-content: center;
}

#numbers-section:after {
  content: "";
  display: table;
  clear: both;
}

#numbers-section .data {
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px;
}

#meta-panel {
	text-align: center;
	margin: 0;
	font-size: 0.9em;
}


#middle-section {
	text-align: center;
	margin-top: 20px;
}

.chart-wrapper {
	width: 80%;
	break-after: always;
	display: inline-block;
}


.chart-series {
	height: 300px;
}

.user-table-wrapper {
	width: 80%;
	break-after: always;
	display: inline-block;
}

.user-table-wrapper p {
	font-size: 16px;
	font-weight: bold;
  	color: rgb(250, 250, 250, 0.5);
	padding: 3px;
}

tr.user-row td {
	padding: 0px 2px 7px 2px;
	border-bottom: 1pt solid #999;
}

.user-table {
	width: 100%;
	padding: 0;
}

.user-img {
	width: 50px;
	height: 50px;
	text-align: center;
	align-content: center;
	margin: 3px 0 0 0;
	filter: grayscale(30%);
}

.user-img img {
	border: 1pt solid #999;
	margin-top: 5px;
}

.user-info {
	width: 100%;
	padding: 3px 3px 3px 15px;
	text-align: left;
}

.user-info-name {
	font-size: 0.9em;
}

.user-info-desc {
	font-size: 0.8em;
}